
.carousel-caption {
    background: linear-gradient(180deg, rgba(166, 166, 166, 0.151) 0%, rgba(255, 255, 255, 0) 100%);
    
    width: 100%;
    height: 30%;
    left: 0;
    bottom: 2rem;
}
.itemImage{
width:10%;
height: 200px;

}
.box{
    width: 10%;
    height: 100%;
    
}
.boxM{
    width: 30%;
    height: 100%;
}


