

/* Container holding the image and the text */
.principal {
    position: relative;
    text-align: center;
    color: white;
}

/* Bottom left text */
.bottom-left {
    position: absolute;
    bottom: 8px;
    left: 16px;
}
.desc{
    background: linear-gradient(180deg, rgba(94, 92, 92, 0.425) 0%, rgba(255, 255, 255, 0) 100%);
    width: 100vw;
    height: 30%;
    left: 0;
    bottom: 2rem;
    
}
.btn-fav-resumen{
    color: white;
    background-color: #53347E;
    height: 30%;
    width: 20vw;
    font-weight: normal;
    font-size: 80%;
    z-index: 10000;
}
.btn-fav-resumen:hover{
    border: solid 1px white;
    color: white;
}

.play-joker{
    padding-top: 15%;
    z-index: 1500;
    height: 10%;
}
.joker{
    width: 100vw;
}