*{
    font-family: 'Quicksand', sans-serif;
    color: white;
   }
   
   .bold{
       font-weight: bold;
   }
   .bold-black{
       font-weight: bold;
       color: black;
   }
   .light{
       font-weight: lighter;
   }
   .light-black{
       font-weight: lighter;
       color: black;
   }
   .bg-custom{
       background-color: #23013a;
   }


   /**/
   .rect-plan{
    margin-top: 10px;
    display: inline-block;
    -webkit-box-shadow: 7px 4px 5px -2px rgba(0,0,0,0.15);
    -moz-box-shadow: 7px 4px 5px -2px rgba(0,0,0,0.15);
    box-shadow: 7px 4px 5px -2px rgba(0,0,0,0.15);
    width: 120px;
    height: 120px;
    background:#53347E ;
   }
   .rect-plan h5{
       text-align: center;
       margin-top: 45%;
   }
   
   .suscripcion{
       margin-top: 50px;
   }
   .info-planes{
       font-size: larger;
       margin-left: 100px;
   }
   table.planes{
        border-collapse: separate;
        border-spacing: 15px;
   }
   table.planes td
{
    
    padding: 35px;
   
}
  
