*{
    font-family: 'Quicksand', sans-serif;
    color: white;
   }

   .btn-cancelar{
    color: white;
    background-color: rgb(201, 63, 63);
    font-weight: normal;
}
.btn-continuar{
    color: white;
    background-color: #53347E;
    font-weight: normal;
}